
html {
  font-family: "Libre Franklin", sans-serif;
  font-family: "Libre Baskerville", serif;
  font-family: "Alfa Slab One", cursive;
}

.watermellon {
  transform: none;
  font-family: "Libre Franklin", sans-serif;
}

.watermellonss {
  transform: rotate(20deg);
  font-family: "Alfa Slab One", cursive;
}


p {
  font-family: "Libre Baskerville", serif;
}

.card {

  background-color: #a6a6a6;
}

.card:nth-child(2) {

  background-color: #fbd25e;
}

.card:nth-child(3) {

  background-color: #e86033;
}
