
html {
  font-family: "Libre Franklin", sans-serif;
  font-family: "Libre Baskerville", serif;
  font-family: "Alfa Slab One", cursive;
}

h1 {
  transform: none;
  font-family: "Libre Franklin", sans-serif;
}

h2{
  transform: rotate(20deg);
}


p {
  font-family: "Libre Baskerville", serif;
}

.card {

  background-color: #a6a6a6;
}

.bigwords-1  {
  font-family: "Alfa Slab One", cursive;
}
