html {
  font-family: "Libre Franklin", sans-serif;
  font-family: "Libre Baskerville", serif;
  font-family: "Alfa Slab One", cursive;
}

.watermellon {
  transform: none;
  font-family: "Libre Franklin", sans-serif;
}

.watermellonss {
  transform: rotate(20deg);
  font-family: "Alfa Slab One", cursive;
}

p {
  font-family: "Libre Baskerville", serif;
}

.card {

  background-color: #a6a6a6;
}

.card:nth-child(2) {

  background-color: #333;
}

.repeat {
  color: #fff;
  transform: rotate(30deg);
  font-family: "Libre Franklin", sans-serif;
}

.repeat:nth-child(1) {
  transform: rotate(10deg);
}

.repeat-2 {
  color: red;
}

.card:nth-child(3) {
  transform: rotate(-15deg);
  background-color: red;
}

span {
  color: orange;
  transition: color 1000ms linear;
}

span:hover {
  color: red;
}

.us {
  color: red;
  transition: color 1000ms linear;
}

.us:hover {
  color: orange;
  transition: color 1000ms linear;
}
